body
  background: white
  font-family: 'Roboto', serif
  font-size: 16px
.site-container
  width: 750px
  margin: auto

@media (max-width: 960px)
  .site-container
    width: 95vw
  #profile 
    margin-left: 0%

@media (min-width: 961px)
  #profile 
    margin-left: 15%
