@font-face {
  font-family: 'Courier New', Courier, monospace; 
  font-style: normal;
  font-weight: 300;
  src: local('Courier New Light'), local('Courier New Light'), url(https://fonts.googleapis.com/css?family=Courier) format('woff');
}
// &effect=shadow-multiple|anaglyph
@font-face {
  font-family: 'Courier New', Courier, monospace;
  font-style: normal;
  font-weight: 400;
  src: local('Courier New'), url(https://fonts.googleapis.com/css?family=Courier) format('woff');
}
@font-face {
  font-family: 'Courier New', Courier, monospace;
  font-style: normal;
  font-weight: 700;
  src: local('Courier New Bold'), url(https://fonts.googleapis.com/css?family=Courier) format('woff');
}
